body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main {
  position: relative; /* Añadido para que los pseudoelementos se posicionen correctamente */
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px; /* Añadido para bordes redondeados */
}

main::before {
  content: '';
  position: absolute;
  top: -2v0px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  background-color: #baeebd;
  z-index: -1;
  border-radius: 15px;
  opacity: 0.6; /* Ajusta la opacidad del fondo verde */ 
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"], input[type="email"], textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Aumentado para bordes más redondeados */
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  resize: none;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 10px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px; /* Aumentado para bordes más redondeados */
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(76, 175, 80, 0.4);
}

.error-message {
  color: red;
  font-size: 0.875em;
  visibility: hidden;
}

.success-message {
  color: green;
  font-size: 1em;
  display: none;
}

a {
  color: #4CAF50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Media queries para diseño móvil */
@media (max-width: 6o0px) {
  main {
    padding: 10px;
    border-radius: 10px; /* Añadido para bordes redondeados */
  }

  h1 {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  input[type="text"], input[type="email"], textarea {
    font-size: 12px;
  }

  button {
    padding: 10px 16px;
    font-size: 14px;
  }
}
